body{
        background-image: url(./bg-01.jpg);
        background-size: cover;
      }

 .heading{
          /* flex: 1;*/
           width: 400px;
           height: 200px;
           background-color: Rgba(255, 255, 255, 0.7);;
           margin-top: 70px;
           margin-left: 100px;  
 
 }
 
 .icon{
        padding-left: 30px;
        padding-top: 60px;
 }
 .text1{
         font-size: 2.3rem;
         /*font-family: Arial; */
         color: #333333;
         padding-left: 160px;
         padding-top: 20px;
         margin: 0;
 }
 .text2{
          color: grey;
           font-size: 1.3rem;
          padding-left: 100px;
 }
 
 header{
           display: flex;
           
 }
  /*.row{
        flex: 2;
  }*/
 
 nav{
      display: flex;
      justify-content: space-around;
      width: 800px;
      height: 120px;
      background-color: Rgba(255, 255, 255, 0.7);
      margin: 110px 20px 20px 40px ;
      align-items: center;
      list-style: none;
 }


 a{
        text-decoration: none;
        color: #6b6b6b;
        font-size: 1.2rem;

 } 
 .p1 {
        font-family:"Open Sans", Arial, Helvetica, sans-serif;
       padding: 20px 20px 20px 130px;
        margin: 60px 20px 20px 20px; 
        color: white;
        font-size: 1.2rem;

 
 }
 hr{
     width: 10cm;
     margin: 20px 20px 20px 135px;
 }
 
 .fa{
        padding-left: 155px;
        padding-top: 80px;   
        color: #6b6b6b;
 } 

 .headphones{
              color: #989797;
              height: 60px;
              width: 50px;
               padding-left: 155px;
               padding-top: 80px; 
 }
 h4{
      font-size: 56px;
      font-weight: 400px;
      line-height: 1.2;
      font-family:"Open Sans", Arial, Helvetica, sans-serif;
      color:white;
      padding: 20px 20px 20px 20px ;
      margin: 20px 20px 0px 120px ;
 }
 
 .newbutt{
         color: grey;
         padding: 12px;
          margin-right: 220px;
          margin-top:0px ;
         float: inline-end;
          width:190px ;
          height: 60px;
          font-size: 1.3rem;
          
          
        }
 
 section{
         display: flex;
 }
 .div2{
        flex-direction: row;
         color: Rgba(255, 255, 255, 0.7);;
 }
 .div3 {
         flex-direction: row;
          padding: 20px 20px 20px ;
          margin: 5px 20px 20px 260px;
 }
 .p2{
            color: white;
            margin-left:130px;
            font-size: 20px;
           line-height: 1.7;
            font-family: "Open Sans", Arial, Helvetica, sans-serif;
 }
 
 article{
          flex-wrap: wrap; 
         
 }
.p3{
        margin-top: 90px;
        margin-left:70px ;
        font-size: 1.3rem;
        color: #6b6b6b;
        line-height: 1.5;
}


 .maindiv{
           display: flex;
           justify-content: space-evenly;
          
 }
 .card1{
         height: 510px;
         width: 370px;
         background-color:Rgba(255, 255, 255, 0.7);
         border-radius: 6px;
         margin-top: 70px;
 
 }
 .card2{
         height: 510px;
         width: 370px;
         background-color :Rgba(255, 255, 255, 0.7);;
         border-radius: 6px ;
         margin-top: 70px;
 
         
 }
 .card3{
         height: 510px;
         width: 370px;
         background-color: Rgba(255, 255, 255, 0.7);;
         border-radius: 6px ;
         margin-top: 70px;
 
         
 }
 .h21{
     padding-left: 93px;
     padding-top: 15px;
     font-family: Arial;
     font-weight: normal;
     font-style: inherit;
     
 }
 .h22{
         padding-left: 95px;
         padding-top: 6px;
         font-family: Arial;
        font-weight: normal;
         font-style: inherit;
     }
  .h33{
         padding-left: 95px;
         padding-top: 6px;
         font-family: Arial;
         font-weight: normal;
         font-style: inherit;
     }
 
   
     
     
      
      .subscribe {
        display: flex;
      }
      
     .container{
              
             padding-top: 130px;
             padding-left: 85px;
      
      }

      .subscribe-content{
                          width: 930px;
                          height: 400px;
                          margin-left: 10px;
                          margin-top: 130px;
                          background-color: white;
      }

      .unslapsh{
                  color: #6b6b6b;
                  line-height: 1.2;
                  font-weight: 500;
                  font-size: 2rem;
                  margin-bottom: 45px;
                  margin-top: 45px;
                  margin-left: 60px;
                
                
      }
      .door{     
             color: #6b6b6b;
             font-weight: 500px;
             font-family: Arial, Helvetica, sans-serif;
             font-size: medium;
             margin-left: 60px;
             font-size: 1.2rem;
             line-height: 1.7;
             margin-bottom: 45px;
      }

      .email{
              width: 315px;
              height: 50px;
              margin-left: 60px;
      }
      
      .button1{
               margin-left: 10px;
               padding: 20px;
               height: 60px;
               color: white;
               background-color: #0299CC;
               border: none;
               width: 12pc;
               font-size: 1.2rem;
      }

     .footer {
        margin-top: 20px;
        text-align: center;
        color: white;
        padding: 1rem 0;
        margin-bottom: 20px;
      }
      
     .fotter2{
               color: white;
               font-size: 1.3rem;
     }

    @media  screen and (max-width:400)and (min-width:760) {
        
         .maindiv{
                flex-direction: row;
         }
    }